<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DJango-Cookies App-4</title>
    </head>
    <body>
        <div align='center'>
            <h1>DJango-Cookies App-4(Add Item to Shopping-Cart)</h1>
            <hr />
            <form method="post">    <!--no action="" form is submitted to itself-->
                {{formobj.as_p}}
                {%csrf_token%}
                <input type="submit" name="" value="Add-Item">
            </form>
            <br /><br /><br />
            <a href="/displayitems/" role="button">Display-ITEMS</a>
        </div>
    </body>
</html>