<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DJango Cookies App-3</title>
        <style>
            body{
                color: red;
                background-color: lightpink;
            }
            h1{
                color: black;
                background-color: white;
            }
            h2{
                color:blue;
                background-color:lightgreen;
            }
        </style>
    </head>
    <body>
        <h1>DJango Cookies App-3(Age-View)</h1>
        <hr />
        <h2>Hello : {{name}}!!</h2>
        <hr />
        <form action='/parent_view'>
            Enter Your Age :
            <input type="text" name="age" value=""><br/><br/>
            <input type="submit" name="" value="Submit Your Age">
        </form>
    </body>
</html>