<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cookies Counter-Page</title>
        <style>
            span{
                font-size:30px;
                font-weight:900;
                color:Green;
            }
            h1{
                color:blue;
                text-align: center;
                background-color: lightcyan;
            }
            h3{
                color:darkred;
                text-align: left;
                background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        <h1>Cookies Counter-Page in DJango-App</h1>
        <hr />
        <h3>
            Page Count is:<span>{{count}}</span>
        </h3>
    </body>
</html>
