<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DJango Cookies Date&Time App2</title>
    </head>
    <body>
        <h1>Django Cookies Date&Time App2</h1>
        <hr />
        <h2>Hello :: {{name}}</h2>
        <h3>SurName::{{surname}}</h3>
        <h4>FatherName::{{fathername}}</h4>
        <h5>MotherName::{{mothername}}</h5>
        <h6>Date-Of-Birth::{{dateofbirth}}</h6>
        <hr/>
        {{name}}...<a href="/result">Click Here to get Date and Time</a>
    </body>
</html>

  <a href="/home_view/">Go-Back to main-page</a>
