<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DJango Cookies App-3</title>
         <style>
            body{
                color: green;
                background-color: lightblue;
            }
            h1{
                color: red;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <h1>DJango Cookies App-3(Name-View)</h1>
        <hr />
        <form action='/age_view'>
            Enter your Name :
            <input type="text" name="name" value="" /><br /><br />
            <input type="submit" name="" value="Submit Your Name" />
        </form>
    </body>
</html>