<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Django-Cookies App3</title>
         <style>
            body{
                color: yellow;
                background-color: lightslategrey;
            }
            h1{
                color: black;
                background-color: white;
            }
            h2{
                color:deeppink;
                background-color:lightsalmon;
            }
        </style>
    </head>
    <body>
        <h1>DJango Cookies App-3(Parent-View)</h1>
        <hr />
        <h2>Hello : {{name}}!!</h2>
        <hr />
        <form action='/result1_view'>
            Enter your Parent-Name:
            <input type="text" name="pname" value=""><br/><br/>
            <input type="submit" name="" value="Submit Parent Name">
        </form>
    </body>
</html>