<!DOCTYPE html>
<html lang="en"dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Django-Cookies App3</title>
         <style>
            body{
                color: red;
                background-color: lightpink;
            }
            h1{
                color: black;
                background-color: white;
            }
            h2{
                color:blue;
                background-color:lightgreen;
            }
        </style>
    </head>
    <body>
        <h1>DJango Cookies App-3(Final Result-View)</h1>
        <hr />
        <h2>Hello : {{name}}!! Thanks for providing details...</h2>
        <hr />
        <h3>&lt;&lt;Once Verify your Details & Confirm&gt;&gt;</h3><hr>
        <ul>
            <li>Your-Name : {{name}}</li>
            <li>Your-Age : {{age}}</li>
            <li>Parent-Name : {{pname}}</li>
        </ul>
        <hr />
    </body>
</html>